**/node_modules
**.next
**.env
**.env.local
**.DS_Store
**.vercel
.vscode
**.git
.vercel
.next
src
README.md 
next-env.d.ts
next.config.js
pnpm-lock.yaml
package-lock.json
postcss.config.js 
tailwind.config.js 
tsconfig.json
